<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8"></meta>
        <!--META 標籤  對網站的簡介-->
        <meta name="DESCRIPTION" content="這是郡宸的網站，內有惡犬，千萬別進"/>
        <meta name="AUTHOR" content="郡宸"/>
        <meta name="KEYWORD" content="郡宸、惡犬"/>
        <meta name="VIEWPORT" content="width=DEVICE-WIDTH, INITIal-scale=1.0"/>
        <title>郡宸的網站</title>
    </head>
    <body>  
        <!--CSS-->
 <div style="color: red; font-size: 50;">
   <ul>1>
      <p style="border: 5px solid black; ">大家好</p>
      <p style="border: 5px dashed blue; width: 200px; height: 200PX;">大家好</p>
        </ul>
 </div>
                
        <!-- MARING & padding-->
                           
 <h1 style="color: blue;">css練習</h>
    <div style="padding: 20px 30px 40px 50px; background-color: bisque; color: #FF0080; border: black solid 2px; width: 200px;">
        <h1>CSS</h1>
        <p style="color: #00FFFF;"><b>HELLO</b></p>
 </div>
                
            <!-- float & display -->
            <img src="下載.png" width="200px" style="float: left;"/>
                <p>這張圖是製作網頁推薦的程式 This picture is a recommended program for making web pages</p>
                    <ul style="float:left;background-color: #00FFFF; color:#6A6AFF; margin: 0px; padding: 20px;">
                        <li>關於我們</li>
                        <li>聯絡我們</li>
                    </ul>
                        <p>這張圖是製作網頁推薦的程式 This picture is a recommended program for making web pages</p>
         <!-- block inline-->
       
        <P>你好</P>
        <p>你好</p>
        <span>HELLO</span>
        <span>HELLO</span>
        <p style="display: inline;">你好</p>
        <p style="display: inline;">hahaha</p>
        <span style="display: block;">你好</span>
        <span style="display: block;">hahaha</span>

        <!-- POSITION -->
        <div style="width: 80px; height: 80px; background-color: blue;"></div>
        <div style="width: 120px; height: 120px; background-color: darkorange;"></div>
        
        <div style="position: fixed; width: 80px; height: 80px; background-color: blue;"></div>
        <div style="position: fixed;top: 20px; width: 120px; height: 120px; background-color: darkorange;"></div>
        


    </body>
 </html> 